
/** ~~~~~~~~~~~~~ LAYOUT ~~~~~~~~~~~~~ **/
.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
/** ~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~ **/
.header {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
  }

.header-logo {
 height: 70px;
}

.nav {
    display: flex;
    gap: 40px;
}

.nav a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.nav a:hover{
 color:rgb(187, 208, 227);
}

/** ~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~ **/
.footer {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: #0678BE;
  }
  
  .footer-first-part {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
  }

  .footer-header {
    color: #FFFF;
  }

  .footer-text {
    color: #FFFF;
  }

  .footer-socials {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .footer-socials-icons {
    width: 40px;
  }
  
  .footer-link {
    font-size: 16px;
    text-decoration: none;
    color: #FFFF;
    font-weight: 500;
    font-size: 15;
  
  }
  
  .footer-line {
    background-color: #FFFF;
    width: 1700px;
  }

  .footer-copyright {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFF
  }
  